.modalContainer{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 300px;
    /* height:200px; */
    background-color: rgba(0,0,0,.45);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 25px;
    p {
       margin-top: 10px;
       font-size: 15px;
    }
}

.closeButton{
    position: absolute;
    top:10px;
    right: 10px;
    padding: 6px 8px;
    display: inline-block;
    border-radius:4px ;
    &:hover{
        background-color: rgba(200,200,200, .6);
        cursor: pointer;
    }
}

.idContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--secondary-font-color) ;
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;

    button{
        border: none;
        outline: none;
        background-color: #fff;
        font-size: 20px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
        background-color: rgba(255,255,255,.5);
        &:hover{
            background-color: rgba(255,255,255,1);  
            cursor: pointer;
        }
    }
}

.idSpan{
    /* border: 1px solid rgba(200,200,200, .5) ; */
    display: inline-block;
   
    flex: 0 1 80%;
}

.copied{
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 20px;
    display: inline-block;
    padding: 8px 16px;
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 12px;
    transform: translateX(-50%);

}