.remoteStreamContainer{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: 1px solid #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cite{
        position: absolute;
        top: 5px;
        left: 5px;
   }
}

.myStreamContainer{
    position: absolute;
    bottom:10px;
    left: 10px;
    width: 250px;
    height: 150px;
    z-index: 0;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 4px;
    background-color: var(--secondary-bg-color);
    box-sizing: border-box;
    overflow: hidden;
    & video{
        width:100%;
        height:100%;
        object-fit: cover;
    }

    &:hover{
        border: 1px solid var(--secondary-font-color);
    }
    cite{
         position: absolute;
         top: 5px;
         left: 5px;
    }
}
